---
import { CollectionEntry, getCollection } from 'astro:content';
import {
  PaginationHeader,
  Section,
} from 'astro-boilerplate-components';

import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';
import { sortByDate } from '@/utils/Posts';
import { BlogGallery } from '@/partials/BlogGalleryWithTags';
import { NewerOlderPagination } from '@/partials/NewerOlderPagination';

type GetStaticPaths = {
  paginate: any;
}; // Overrides `GetStaticPathsOptions` types from Astro

export async function getStaticPaths({ paginate }: GetStaticPaths) {
  const allPosts = await getCollection('blog');
  const sortedPosts = sortByDate(allPosts as any);
  return paginate(sortedPosts, { pageSize: 6 });
}

interface Props {
  page: CollectionEntry<"blog">[];
}

const { page } = Astro.props as Props;
const titleSuffix = ` - ${AppConfig.site_name}`;
const titleBase = `Page ${(page as any).currentPage}`;
const title = titleBase + titleSuffix;
const description = 'Blog post iteration for Astro styled with Tailwind CSS.';
---

<Base head={{ title, description }}>
  <Section>
    <PaginationHeader
      title="FriendlyUser's blog"
      description="More posts in my blog."
    />
  </Section>

  <Section>
    <BlogGallery postList={page} />
  </Section>

  <Section>
    <NewerOlderPagination page={page}/>
  </Section>
  <div data-pagefind-body></div>
</Base>
