---
import type { FrontmatterPage } from 'astro-boilerplate-components';
import {
  BlogGallery,
  NewerOlderPagination,
  PaginationHeader,
  Section,
} from 'astro-boilerplate-components';

import type { CustomIFrontMatter } from '@/partials/BlogPost';
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';
import { sortByDate } from '@/utils/Posts';

type GetStaticPaths = {
  paginate: any;
}; // Overrides `GetStaticPathsOptions` types from Astro

export async function getStaticPaths({ paginate }: GetStaticPaths) {
  const allPosts = await Astro.glob<CustomIFrontMatter>('./**/*.md(x)?');
  const sortedPosts = sortByDate(allPosts as any);
  // const filteredPosts = sortedPosts.filter((post) => {
  //   const postDate = new Date(post.frontmatter.pubDate);
  //   const today = new Date();
  //   return postDate <= today;
  // });
  // Return a paginated collection of paths for all posts
  return paginate(sortedPosts, { pageSize: 6 });
}

interface Props {
  page: FrontmatterPage;
}

const { page } = Astro.props as Props;
const titleSuffix = ` - ${AppConfig.site_name}`;
const titleBase = `Page ${page.currentPage}`;
const title = titleBase + titleSuffix;
const description = 'Blog post iteration for Astro styled with Tailwind CSS.';
---

<Base head={{ title, description }}>
  <Section>
    <PaginationHeader
      title="FriendlyUser's blog"
      description="More posts in my blog."
    />
  </Section>

  <Section>
    <BlogGallery postList={page.data} />
  </Section>

  <Section>
    <NewerOlderPagination page={page} />
  </Section>
  <div data-pagefind-body></div>
</Base>
