---
import BlogPostPreview from '../../components/BlogPostPreview.astro';
import BlogHeader from '../../components/BlogHeader.astro';

const allPosts = await Astro.glob('../posts/*.md');

export async function getStaticPaths() {
  const allPosts = await Astro.glob('../posts/*.md');
  // get all tags
  const tags = allPosts.map(post => {
    const tags = post.frontmatter.tags;
    return tags;
  }).reduce((acc, val) => acc.concat(val), []);

  // get unique tags
  const uniqueTags = [...new Set(tags)];
  // map to params
  const paths = uniqueTags.map(tag => {
    return {
      params: {
        tag
      }
    }
  });
  return paths;
}

const { tag } = Astro.params;

// filter pages by tag
const posts = allPosts.filter(post => {
  const tags = post.frontmatter.tags;
  return tags.includes(tag);
}).sort((a, b) => {
  return new Date(b.frontmatter.date) - new Date(a.frontmatter.date);
}).filter(post => post !== null);
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>List of Tags</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="../../styles/global.css">
    <link rel="stylesheet" href="../../styles/home.css">
    <link rel="stylesheet" href="../../styles/blog.css" />

    <style>
        header {
            display: flex;
            flex-direction: column;
            gap: 1em;
            max-width: min(100%, 68ch);
        }
    </style>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-2479144310234386",
      enable_page_level_ads: true
    });
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119155027-6"></script>
    <script>  
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-119155027-6');
    </script>
    <style>
      header {
        width: 100%;
        height: 100%;
        background-color: var(--theme-bg-offset);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .content {
        margin-top: 4rem;
        margin-bottom: 8rem;
      }

      .content :global(main > * + *) {
        margin-top: 1rem;
      }

      .intro {
        padding-bottom: 4rem;
        margin-bottom: 2rem;
        border-bottom: 4px solid var(--theme-divider);
      }

      .intro > * {
        margin: 0;
      }

      .latest {
        font-size: 2.5rem;
        font-weight: 700;
      }
    </style>
</head>
<body>
       <BlogHeader />
        <div class="wrapper">
                <main class="content">
            <section aria-label="Blog post list">
              {posts.map(p => <BlogPostPreview post={p} />)}
            </section>
            </main>
        </div>
        <div data-pagefind-body>
        </div>
</body>
</html>
