---
// import { CTA } from '@/partials/CTA';
import type { CustomIFrontMatter } from '@/partials/BlogPost';
import { Hero } from '@/partials/Hero';
import { ProjectList } from '@/partials/ProjectList';
import { RecentPosts } from '@/partials/RecentPosts';
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';
import { sortByDate } from '@/utils/Posts';

import BottomSection from '../partials/BottomSection.astro';

const allPosts = await Astro.glob<CustomIFrontMatter>('./posts/**/*.md');
const sortedPosts = sortByDate(allPosts);

// filter out dates that are in the future
const filteredPosts = sortedPosts.filter((post) => {
  const postDate = new Date(post.frontmatter.pubDate);
  const today = new Date();
  return postDate <= today;
});

const lastThreePosts = filteredPosts.slice(0, 3);

const { title } = AppConfig;
const { description } = AppConfig;
---

<Base head={{ title, description }}>
  <Hero />
  <ProjectList />
  <RecentPosts postList={lastThreePosts} />
  <BottomSection />

  <div data-pagefind-body></div>
</Base>
