---
// import { CTA } from '@/partials/CTA';
import { Hero } from '@/partials/Hero';
import { ProjectList } from '@/partials/ProjectList';
import { RecentPosts } from '@/partials/RecentPosts';
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';
import { sortByDate } from '@/utils/Posts';
import { getCollection } from 'astro:content';

import BottomSection from '../partials/BottomSection.astro';

const collectionPosts = await getCollection('blog');
const sortedPosts = sortByDate(collectionPosts);

// filter out dates that are in the future
const filteredPosts = sortedPosts.filter((post) => {
  const postDate = new Date(post.data.pubDate);
  const today = new Date();
  return postDate <= today;
});

const lastThreePosts = filteredPosts.slice(0, 3);

const { title } = AppConfig;
const { description } = AppConfig;
---

<Base head={{ title, description }}>
  <Hero />
  <ProjectList />
  <RecentPosts postList={lastThreePosts} />
  <BottomSection />

  <div data-pagefind-body></div>
</Base>
