---
import { Section } from 'astro-boilerplate-components';

import { ContactMe } from './ContactMe';
---

<Section>
  <div class="flex w-full">
    <ContactMe />
    <div class="ml-3 max-w-lg bg-slate-300">
      <link href="/_pagefind/pagefind-ui.css" rel="stylesheet" />
      <script src="/_pagefind/pagefind-ui.js" type="text/javascript">

      </script>
      <div id="search ml-3 p-4"></div>
      <script>
        window.addEventListener('DOMContentLoaded', (event) => {
          new PagefindUI({ element: '#search' });
        });
      </script>
    </div>
  </div>
</Section>
